section.about#about
  .wrapper.about__wrapper
    header.about__header
      h2.anim О премии:
      p.about__vr.anim
        a(href="https://veganrussian.ru/" target="_blank").about__vr-link Vegan Russian
        span  — ресурс о веганских товарах в России.
      p.about__description.anim Мы проверяем составы продуктов, собираем информацию о них на своем сайте, помогаем производителям создавать веганские новинки.
        br
        | Поскольку наша работа тесно связана с веганскими продуктами, мы решили создать VEGAN RUSSIAN AWARDS, чтобы:
      ul.about__benefits
        li.about__benefit.anim
          span.about__tilde ~
          p замотивировать производителей на создание интересных и качественных продуктов
        li.about__benefit.anim
          span.about__tilde ~
          p показать, какие продукты, по мнению потребителей,  являются лучшими в своей категории на 2021 год
