footer.footer
  .footer__blob-1: img(src="./images/footer-blob-01.webp", alt="")
  .footer__blob-2: img(src="./images/footer-blob-02.webp", alt="")
  .wrapper.footer__wrapper
    h2 Контакты
    p.footer__desc По любым вопросам пишите нам на <a href="mailto:info@veganrussian.com" class="footer__email">info@veganrussian.com</a>, а также подписывайтесь на нас в соцсетях:
    .footer__socs
      a(href=""): img(src="./images/inst.svg", alt="")
      a(href=""): img(src="./images/tg.svg", alt="")
  .wrapper.footer__links
    a(href="#").footer__author-link
      img(src="./images/inst.svg", alt="" width="34")
      | Лейбл @d.zine1
    a(href="#").footer__author-link
      img(src="./images/inst.svg", alt="" width="34")
      | Дизайн @design__saya
    a(href="#").footer__author-link
      img(src="./images/vk.svg", alt="" width="34")
      | Дизайн @design__saya

