header.header.anim
  .wrapper.header__wrapper
    a(href="/" title="На главную").header__logo: img(src="./images/logo.webp", alt="Логотип сайта")
    nav
      ul.header__list
        li: a(href="#about").header__link О премии
        li: a(href="/vote.html").header__link Голосовать
        li: a(href="#nominations").header__link Номинации
        li: a(href="#contacts").header__link Контакты
        li: a(href="/results.html").header__link Результаты 2021
