header.header.anim
  .wrapper.header__wrapper
    a(href="/" title="На главную").header__logo: img(src="./images/logo_purple.webp", alt="Логотип сайта")
    nav
      ul.header__list.header__list_dark
        li: a(href="/#about").header__link О премии
        li: a(href="/#nominations").header__link Номинации
        li: a(href="#contacts").header__link Контакты
        li: a(href="/results.html").header__link Результаты 2021

    button(type="button").header__burger
      span.burger.burger_purple
        span.burger__line.burger__line_top
        span.burger__line
        span.burger__line.burger__line_bottom
