-
  var items = [
    [
      {title:"Лучшее веганское молоко", img:"./images/bg01.webp"},
      {title:"Лучшее веганское бариста молоко", img:"./images/bg02.webp"},
      {title:"Лучший веганский йогурт", img:"./images/bg03.webp"},
      {title:"Лучший веганский сыр", img:"./images/bg04.webp"}
    ],
    [
      {title:"Лучшее веганское мороженое", img:"./images/bg05.webp"},
      {title:"Лучший веганский сырок", img:"./images/bg06.webp"},
      {title:"Лучший веганский майонез", img:"./images/bg07.webp"},
      {title:"Лучший крем-чиз", img:"./images/bg08.webp"},
    ],
    [
      {title:"Лучший продукт для замены мяса", img:"./images/bg09.webp"},
      {title:"Лучший продукт для замены курицы", img:"./images/bg10.webp"},
      {title:"Лучший продукт для замены рыбы", img:"./images/bg11.webp"},
      {title:"Лучший продукт для замены яиц", img:"./images/bg12.webp"},
    ],
    [
      {title:"Лучшие веганские пельмени", img:"./images/bg13.webp"},
      {title:"Лучший веганский паштет", img:"./images/bg14.webp"},
      {title:"Лучшие веганские сосиски", img:"./images/bg15.webp"}
    ],
    [
      {title:"Лучшая веганская колбаса", img:"./images/bg16.webp"},
      {title:"Лучший тофу", img:"./images/bg17.webp"},
    ]
  ]


section.nominations#nominations
  .wrapper
    h2 Номинации
    p.nominations__desc Для первого года мы определили 17&nbsp;следующих номинаций:
  .wrapper.nominations__main
    each arr, idx in items
      .nominations__wrapper
        each item in arr
          .nominations__item.anim
            .nominations__img: img(data-src=item.img, alt="").lozad
            .nominations__text= item.title
