section.prizes
  .wrapper
    h2 Призы для победителей:
    .prizes__items
      .prizes__item
        img(src="./images/medal.webp", alt="")
        h3 Маркетинговый:
        p Cпециальный лейбл Веган выбор 2021, который можно поместить на упаковку.

      .prizes__item.prizes__item_diploma
        img(src="./images/diploma.webp", alt="")
        h3 Символический:
        p Грамота

