section.prizes
  .wrapper
    h2.anim Призы для победителей:
    .prizes__items.anim
      .prizes__item
        img(data-src="./images/medal.webp", alt="").lozad
        h3 Маркетинговый:
        p Cпециальный лейбл Веган выбор 2021, который можно поместить на упаковку.

      .prizes__item.prizes__item_diploma
        img(data-src="./images/diploma.webp", alt="").lozad
        h3 Символический:
        p Грамота

