section.promo
  .promo__main
    .wrapper.promo__content
      div
        h1.promo__title Выбери лучшие веганские продукты 2021 года!
        p.promo__subtitle Vegan Russian Awards — премия для производителей веганских продуктов
        .promo__cta
          a(href="#").btn проголосовать
          a(href="#").promo__link Смотреть номинации
      .promo__logo
        img(src="./images/award.webp", alt="Логотип премии")
        .promo__dots: img(src="./images/dots.svg", alt="")
    .promo__blob: img(src="./images/blob.webp", alt="")
    .promo__blobs-group: img(src="./images/blobs-group.webp", alt="")
