section.results
  .wrapper
    h1.anim Результаты премии VEGAN RUSSIAN AWARDS&nbsp;2021 будут опубликованы здесь и на официальном Instagram проекта vegan.russian ___ числа после завершения голосования
    img(src="./images/ellipse-yellow.svg", alt="").results__ellipse-yellow.hide-for-md
    img(src="./images/ellipse-purple.svg", alt="").results__ellipse-purple.hide-for-md
