section.steps
  .wrapper#rules
    h2.anim Как проходит премия:
    .steps__item.anim
      .steps__number 1
      .steps__content
        h3 Определение номинантов
        .steps__text
          p Мы использовали специальную формулу для определения номинантов. Учитывалось большое количество отзывов на сайте veganrussian.ru, только среди продуктов с высокими оценками от пользователей
    .steps__item.anim
      .steps__number 2
      .steps__content
        h3 Голосование
        .steps__text
          p Люди голосуют за продукты в разных номинациях, которые им больше всего понравились.
          br
          p
            img(data-src="./images/exclamation.svg", alt="").steps__exclamation.lozad
            | Мы хотим, чтобы эта премия была не о том, у кого больше подписчиков или сотрудников. Пожалуйста, <strong>не призывайте голосовать за себя</strong>.
            br
            | Мы будем внимательно следить за вами и оставляем за собой право дисквалифицировать за накрутку голосов.
          br
          p Голосование будет проходить на этом сайте с 5 по 27 декабря
    .steps__item.anim
      .steps__number 3
      .steps__content
        h3 Подведение итогов голосования и награждение
        .steps__text
          p Идет подведение итогов и определяются победители. Результаты будут опубликованы на данном сайте, а также в официальном Instagram проекта vegan.russian
            br
            | Награждение победителей будет происходить онлайн.

