section.voting
  .wrapper
    <div id="vegan_milk"></div>
    <div id="vegan_milk_barista"></div>
    <div id="vegan_yigurt"></div>
    <div id="vegan_cheese"></div>
    <div id="vegan_cheese_curd"></div>
    <div id="vegan_mayo"></div>
    <div id="vegan_creme_cheese"></div>
    <div id="vegan_meat_alternatives"></div>
    <div id="vegan_chiken_alternatives"></div>
    <div id="vegan_ice_cream"></div>
    <div id="vegan_kolbasa"></div>
    <div id="vegan_pashtet"></div>
    <div id="vegan_pelmeni"></div>
    <div id="vegan_fish"></div>
    <div id="vegan_sosiski"></div>
    <div id="vegan_tofu"></div>
    <div id="vegan_eggs"></div>
