section.voting-header
  .wrapper
    .voting-header__dots
      .voting-header__big-dot
      .voting-header__small-dot
    .voting-header__small-dot
    h1.anim Vegan russian
      br
      |awards&nbsp;2021
      br
      |voting
  img(src="./images/ellipse-yellow-on-purple.svg", alt="").voting-header__ellipse-yellow
  img(src="./images/ellipse-purple-on-purple.svg", alt="").voting-header__ellipse-purple
  img(src="./images/blob-3.webp", alt="").voting-header__blob-1
  img(src="./images/blob-4.webp", alt="").voting-header__blob-2
  