section.promo
  .promo__wrapper
    .promo__logo: img(src="./images/logo.webp", alt="")
    .promo__content
      p Скоро здесь будет
      h1 Vegan Map
      p веганская карта,
        br
        |которой можно <i>доверять</i>.
      p А пока вы можете воспользоваться
        br
        | нашим <a href="#"><i>телеграм-ботом</i></a>
    .promo__hand
      picture
        source(srcset="./images/hand-base.webp" media="(min-width: 968px)")
        source(srcset="./images/hand-base-mobile.webp" media="(max-width: 967px)")
        img(src="./images/hand-base.webp", alt="" )
    .promo__footer
      i Проект <a href="https://veganrussian.ru/" target="_blank">veganrussian.ru</a>


