doctype html
html.no-js(lang='ru')
  include components/blocks/_head
  body
    main.wrapper
      h1 Готовые страницы
      ol(style="margin-left: 24px")
        li(style="margin-bottom: 12px"): a(href="main.html") Главная
        li(style="margin-bottom: 12px"): a(href="results.html") Страница с результатами
        li(style="margin-bottom: 12px"): a(href="vote.html") Страница голосования

