doctype html
html.no-js(lang='ru')
  include components/blocks/_head
  body
    block page
      include components/blocks/_header
      main
        include components/blocks/_promo
        include components/blocks/_about
        include components/blocks/_steps
        include components/blocks/_prizes
      include components/blocks/_footer
