.header {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 35px;
    z-index: 10;
    &.anim {
        transition: transform 0.8s ease 0.3s, opacity 0.5s ease 0.3s;
        transform: translateY(-100%);
        opacity: 0;
    }
    &.loaded {
        transform: translateY(0);
        opacity: 1;
    }
    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__logo {
        transform: translateX(-100%);
    }

    &__list {
        display: flex;
        // padding-left: 90px;
        margin-left: -32px;
        list-style-type: none;
        gap: 72px;
    }

    &__link {
        color: #fff;

        &:hover {
            text-decoration: underline;
            text-underline-offset: 8px;
        }
    }
}
