.nominations {
    padding: 100px 0;
    background: linear-gradient(164.35deg, #f2c7dc 24.67%, #d7b0da 83.17%);

    &__wrapper {
        justify-content: center;
        display: flex;
        margin: 0 -11px 22px;
    }

    &__item {
        color: #000;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;
        font-size: 33px;
        position: relative;
        margin: 0 11px;
        width: calc(25% - 22px);
    }

    &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        line-height: 1.1;
        width: 83%;
        font-style: italic;
    }

    &__img {
        height: 0;
        padding-top: 100%;
        border-radius: 29px;
        position: relative;

        img {
            position: absolute;
            width: calc(100% + 28px);
            left: -10px;
            top: -10px;
            max-width: none;
        }
    }
}
