.promo {
    background: url(./../images/bg.webp);
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 32px;


    p {
        margin-bottom: 32px;
        line-height: 1.5;
    }

    h1 {
        font-size: 120px;
        line-height: 1.2;
        margin-bottom: 32px;
    }

    i {
        font-style: italic;
        font-weight: 800;
    }

    a {
        text-decoration: underline;
        text-decoration-color: rgba(255, 255, 255, 0.35);
        text-underline-offset: 6px;

        &:hover {
            text-decoration: none;
        }
    }

    &__wrapper {
        max-width: 1145px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        padding: 56px 20px;
        overflow: hidden;
    }

    &__logo {
        text-align: center;
        margin-bottom: 56px;
    }

    &__hand {
        position: absolute;
        bottom: -8px;
        right: 0;
        width: 38.5%;
        max-width: 730px;
        min-width: 423px;
        pointer-events: none;
    }

    &__footer {
        text-align: center;
        font-weight: 800;
        font-size: 24px;
        margin-top: auto;
    }

    @media (max-width: 1440px) {
        p, h1 {
            margin-bottom: 24px;
        }
    }

    @media (max-width: 1200px) {
        font-size: 20px;
        background-image: url(./../images/bg-tablet.webp);
        &__wrapper {
            padding-left: 100px;
            padding-right: 100px;
        }
        &__footer {
            text-align: left;
            font-size: 18px;
        }
        p {
            line-height: 1.6;
        }

        h1 {
            font-size: 72px;
            margin-bottom: 32px;
            line-height: 1.11;
        }
    }

    @media (max-width: 968px) {
        &__hand {
            width: 55%;
            max-width: 423px;
            min-width: 355px;
            bottom: -4px;

        }
        &__content {
            padding-right: 55%;
        }
    }

    @media (max-width: 768px) {
        &__content {
            padding-right: 0;
            margin-bottom: 56px;
        }
        &__logo {
            margin-bottom: 32px;
        }
        &__hand {
            position: static;
            height: 430px;
            img {
                position: absolute;
                bottom: 0;
                right: 0;
                width: 355px;
            }
        }

        &__footer {
            i {
                display: flex;
                flex-direction: column;
                line-height: 1.33;
            }
        }
    }

    @media (max-width: 768px) {
        background-image: url(./../images/bg-mobile.webp);
        &__wrapper {
            padding: 56px 40px 40px;
        }
    }
}
